body {
  background-color: #dfd3c3;
}
.header {
  display: flex;
  height: 100vh;
  margin-top: 50px;
  font-size: xxx-large;
  justify-content: center;
  align-items: center;
  font-family: "Great Vibes", cursive;
}

/* .nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c7b198;
  height: 40px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: space-evenly;
} */
.nav-list {
  display: flex;
  list-style: none;
  font-size: 20px;
}

li {
  margin-right: 20px;
  padding: 10px;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
  margin-top: 50px;
  background-color: #c7b198;
}
.mid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  margin: auto;
  border-radius: 30px;
}

.recipe-header,
.instructions-header {
  font-size: xxx-large;
  font-family: "Great Vibes", cursive;
}
.recipe-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  font-size: xx-large;
  font-family: "Abel", sans-serif;
}

.instructions-list-header {
  font-family: "Great Vibes", cursive;
  font-size: xxx-large;
  margin-top: 40px;
}

.instructions-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  font-size: x-large;
  font-family: "Abel", sans-serif;
  align-items: flex-start;
}

.top-container-recipe {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 0;
  margin-top: 50px;
  background-color: #c7b198;
}
img {
  height: 75vh;
}
